In [ ]:
%load_ext autoreload
%autoreload 2
%cd /home/adityasidharta/git/ML_server_framework
%env PYTHONPATH = /home/adityasidharta/git/ML_server_framework
%env PROJECT_PATH = /home/adityasidharta/git/ML_server_framework
%env POSTGRES_USERNAME=ml_server_postgres
%env POSTGRES_PASSWORD=ml_server_password
%env POSTGRES_IPADDRESS=localhost
%env POSTGRES_PORT=5432
%env MINIO_ACCESS_KEY=ml_server_minio
%env MINIO_SECRET_KEY=ml_server_password
%env MINIO_PORT=9000

In [ ]:
import numpy as np
import pandas as pd
from src.utils.envs import *
from src.utils.io import *
from src.utils.ds import *
from src.components.api import Api
from src.components.schema import Schema

In [ ]:
from src.data_prep.prep_titanic import do_format, do_fill_na_value
from src.feat_eng.feat_eng_titanic import do_encode, create_encoder_titanic
from src.ml_model.ml_model_titanic import create_model_titanic
from src.utils.ds import split_target_columns

In [ ]:
df_full = read_data('titanic.csv')

In [ ]:
#schema = Schema()
#schema.infer_schema(df_full)
#schema.write_schema(titanic_schema_path)

In [ ]:
input_df = pd.DataFrame({
    'class': [1],
    'sex': ['male'],
    'age' : 10.,
    'embarked': ['D']
})

In [ ]:
api = Api('titanic_schema.yml', 'titanic_encoder.pkl', 'titanic_model.pkl', minio_client)

In [ ]:
api.fit_api(df_full)

In [ ]:
api.load_api()

In [ ]:
api.predict_api(input_df)