In [1]:
%load_ext autoreload
%autoreload 2
%cd /home/aditya/extrahd/ML_server_framework
%env PROJECT_PATH = /home/aditya/extrahd/ML_server_framework

/mnt/nvme0n1p3/ML_server_framework
env: PROJECT_PATH=/home/aditya/extrahd/ML_server_framework

In [2]:
import numpy as np
import pandas as pd
from src.utils.envs import *
from src.utils.io import *
from src.utils.ds import *
from src.components.api import Api
from src.components.schema import Schema

In [3]:
from src.data_prep.prep_titanic import do_format, do_fill_na_value
from src.feat_eng.feat_eng_titanic import do_encode, create_encoder_titanic
from src.ml_model.ml_model_titanic import create_model_titanic
from src.utils.ds import split_target_columns

In [4]:
df_full = read_data('titanic')

In [5]:
#schema = Schema()
#schema.infer_schema(df_full)
#schema.write_schema(titanic_schema_path)

In [66]:
api = Api(titanic_schema_path, titanic_encoder_path, titanic_model_path)

In [67]:
api.fit_api(df_full)

In [68]:
api.load_api()

In [73]:
api.predict_api(input_df)

0.6507613475641967

In [57]:
input_df

   class   sex   age embarked
0      4  male  0.42   ADFSKL