In [7]:
%load_ext autoreload
%autoreload 2
%cd /home/adityasidharta/git/ML_server_framework
%env PROJECT_PATH = /home/adityasidharta/git/ML_server_framework

/home/adityasidharta/git/ML_server_framework
env: PROJECT_PATH=/home/adityasidharta/git/ML_server_framework

In [15]:
df

     Survived  Pclass     Sex   Age Embarked
0           0       3    male  22.0        S
1           1       1  female  38.0        C
2           1       3  female  26.0        S
3           1       1  female  35.0        S
4           0       3    male  35.0        S
5           0       3    male   NaN        Q
6           0       1    male  54.0        S
7           0       3    male   2.0        S
8           1       3  female  27.0        S
9           1       2  female  14.0        C
10          1       3  female   4.0        S
11          1       1  female  58.0        S
12          0       3    male  20.0        S
13          0       3    male  39.0        S
14          0       3  female  14.0        S
15          1       2  female  55.0        S
16          0       3    male   2.0        Q
17          1       2    male   NaN        S
18          0       3  female  31.0        S
19          1       3  female   NaN        C
20          0       2    male  35.0        S
21          1       2    male  34.0        S
22          1       3  female  15.0        Q
23          1       1    male  28.0        S
24          0       3  female   8.0        S
25          1       3  female  38.0        S
26          0       3    male   NaN        C
27          0       1    male  19.0        S
28          1       3  female   NaN        Q
29          0       3    male   NaN        S
..        ...     ...     ...   ...      ...
861         0       2    male  21.0        S
862         1       1  female  48.0        S
863         0       3  female   NaN        S
864         0       2    male  24.0        S
865         1       2  female  42.0        S
866         1       2  female  27.0        C
867         0       1    male  31.0        S
868         0       3    male   NaN        S
869         1       3    male   4.0        S
870         0       3    male  26.0        S
871         1       1  female  47.0        S
872         0       1    male  33.0        S
873         0       3    male  47.0        S
874         1       2  female  28.0        C
875         1       3  female  15.0        C
876         0       3    male  20.0        S
877         0       3    male  19.0        S
878         0       3    male   NaN        S
879         1       1  female  56.0        C
880         1       2  female  25.0        S
881         0       3    male  33.0        S
882         0       3  female  22.0        S
883         0       2    male  28.0        S
884         0       3    male  25.0        S
885         0       3  female  39.0        Q
886         0       2    male  27.0        S
887         1       1  female  19.0        S
888         0       3  female   NaN        S
889         1       1    male  26.0        C
890         0       3    male  32.0        Q

[891 rows x 5 columns]