In [2]:
%load_ext autoreload
%autoreload 2
%cd /home/adityasidharta/git/ML_server_framework
%env PROJECT_PATH = /home/adityasidharta/git/ML_server_framework

/home/adityasidharta/git/ML_server_framework
env: PROJECT_PATH=/home/adityasidharta/git/ML_server_framework

In [3]:
import numpy as np
import pandas as pd
from src.utils.envs import *

In [7]:
x_oh = np.random.rand(10,5)
x_non = np.random.rand(10, 3)

In [11]:
np.concatenate((x_oh, x_non), axis = 1).shape

(10, 8)

In [6]:
from pandas_summary import DataFrameSummary

In [4]:
df = pd.read_csv(titanic_path)

In [11]:
x = DataFrameSummary(df)

In [12]:
x.summary()

              survived     class   sex      age     embarked
count              891       891   NaN      714          NaN
mean          0.383838   2.30864   NaN  29.6991          NaN
std           0.486592  0.836071   NaN  14.5265          NaN
min                  0         1   NaN     0.42          NaN
25%                  0         2   NaN   20.125          NaN
50%                  0         3   NaN       28          NaN
75%                  1         3   NaN       38          NaN
max                  1         3   NaN       80          NaN
counts             891       891   891      714          889
uniques              2         3     2       88            3
missing              0         0     0      177            2
missing_perc        0%        0%    0%   19.87%        0.22%
types             bool   numeric  bool  numeric  categorical

In [32]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [19]:
onehotencoder = OneHotEncoder()

In [33]:
labelencoder = LabelEncoder()

In [36]:
df['a'].values

array([4, 2, 3])

In [37]:
labelencoder.fit(df['a'].values)

LabelEncoder()

In [39]:
labelencoder.transform(df['a'].values)

array([2, 0, 1])

In [51]:
df =  pd.DataFrame({
    'a' : [4,2,3],
    'b' : [10,20,30]
    'c' : [1,4,]
})

In [52]:
df.values.shape

(3, 2)

In [53]:
onehotencoder.transform(df.values)

<3x6 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [48]:
onehotencoder.n_values_.sum()

36